<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>studentEdit</title>
</head>
<body>
<div>
    <div>학번 : <span th:text="*{studentNumber}"></span></div>
    <form th:action="@{/student/edit/{pathParam}(pathParam=${studentNumber})}" th:object="${requestDtoData}" th:method="put">
        <div>이름 : <input type="text" id="name" name="name" th:value="${name}"/></div>
        <div>이메일 : <input type="text" id="email" name="email" th:value="${email}"/></div>
        <div> 상태 :
            <select id="studentStatus" name="studentStatus">
                <option th:each="entry : ${studentStatusList}"
                        th:value="${entry.key}"
                        th:text="${entry.value}"
                        th:selected="${entry.key} == ${studentStatus}"></option>
            </select>
        </div>
        <input type="hidden" th:field="*{password}"/>
    <button type="submit">등록</button></br></br>
  </form>
</div>
</body>
</html>