<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>studentJoin</title>
    </head>
    <body>
        <div>
            <form th:action="@{/student/join}" th:object="${requestDtoData}" method="post">
                <div>학번 : <input type="text" th:field="*{studentNumber}"/></div>
                <div>비밀번호 : <input type="text" th:field="*{password}"/></div>
                <div>이름 : <input type="text" th:field="*{name}"/></div>
                <div>이메일 : <input type="text" th:field="*{email}"/></div>
                <!--타임리프로 hidden은 어떻게 넘기는걸까?-->
                <div><input type="hidden" id="studentStatus" name="studentStatus" value="UNDERGRADUATE"/></div>
                <button type="submit">등록</button></br></br>
            </form>
        </div>
    </body>
</html>