<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>studentJoin</title>
    </head>
    <body>
        <div>입력값 : </br>
            <form th:action="@{studentJoin}" th:object="${requestDtoData}" method="post">
                <div>학번 : <input type="text" th:field="*{studentNumber}"/></div>
                <div>이름 : <input type="text" th:field="*{name}"/></div>
                <div>이메일 : <input type="text" th:field="*{email}"/></div>
                <button type="submit">등록</button></br></br>
            </form>
        </div>
        <div>
            결과 : </br>
            <table border="1">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${name}"></td>
                        <td th:text="${email}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>