<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>studentLogin</title>
    </head>
    <body>
        <div id = "studentLoginForm">
            <form th:action="@{/student/login}" th:object="${requestDtoData}" method="post">
                <div>학번 : <input type="text" th:field="*{studentNumber}"/></div>
                <div>비밀번호 : <input type="text" th:field="*{password}"/></div>
                <button type="submit" >로그인</button></br>
            </form>
            <a th:href="@{/student/join}">회원가입</a>
        </div>
    </body>
</html>