<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>studentRegistCourse</title>
</head>
<body>
<h3>수강 신청</h3>
<div>
    <form th:action="@{/student/{id}/registCourse(id = ${studentNumber})}" th:object="${requestDtoData}" method="post">
        <table border="1" style="text-align:center">
            <thead>
            <tr>
                <th>no</th>
                <th>과목명</th>
                <th>이수구분</th>
                <th>학점</th>
                <th>담당 교수</th>
                <th>선택</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${subjectList}">
                <td th:text="${list.id}"></td>
                <td th:text="${list.subjectName}"></td>
                <td th:text="${list.subjectType.getValue()}"></td>
                <td th:text="${list.courseCredit}"></td>
                <td>담당 교수명</td>
                <td class="form-check form-check-inline">
                    <input type="hidden" id="studentId" name="studentId" th:value="${studentId}"/>
                    <input type="checkbox" th:field="*{subjectId}" th:value="${list.id}" class="form-check-input">
                    <label th:for="${#ids.prev('subjectId')}" class="form-check-label"></label>
                </td>
            </tr>
            </tbody>
        </table><br>
        <button type="submit">신청하기</button>
    </form>
</div>

<h4>
    to-do : 멀티 체크박스 적용
</h4>
</body>
</html>