<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>departmentInfo</title>
</head>
<body>
  <h3>학과 정보</h3>
  <div>
    <table border="1" style="text-align:center">
      <thead>
      <tr>
        <th>no</th>
        <th>학과명</th>
        <th>상태</th>
        <th>과목 추가</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:text="${departmentInfoData.id}"></td>
        <td th:text="${departmentInfoData.name}"></td>
        <td th:text="${departmentInfoData.departmentStatus.getValue()}"></td>
        <td><a th:href="@{/admin/department/{id}/subject/add (id = ${departmentInfoData.id})}">추가</a></td>
      </tr>
      </tbody>
    </table>
  </div>

  <h3>과목 리스트</h3>
  <div>
    <table border="1" style="text-align:center">
      <thead>
        <tr>
          <th>no</th>
          <th>과목명</th>
          <th>이수구분</th>
          <th>학점</th>
          <th>담당 교수</th>
          <th>상태</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="subjectList : ${subjectData}">
          <td th:text="${subjectList.id}"></td>
          <td th:text="${subjectList.subjectName}"></td>
          <td th:text="${subjectList.subjectType.getValue()}"></td>
          <td th:text="${subjectList.courseCredit}"></td>
          <td>담당교수 추가 예정</td>
          <td th:text="${subjectList.subjectStatus.getValue()}"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3>학생 리스트</h3>
  <div>
    <table border="1" style="text-align:center">
      <thead>
      <tr>
        <th>no</th>
        <th>학번</th>
        <th>학생명</th>
        <th>이메일</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="studentList : ${studentData}">
        <td th:text="${studentList.id}"></td>
        <td th:text="${studentList.studentNumber}"></td>
        <td th:text="${studentList.name}"></td>
        <td th:text="${studentList.email}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</body>
</html>